<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if Guardian.Plug.current_token(@conn) do %>
      <%= tag :meta, name: "channel_token", content: Guardian.Plug.current_token(@conn) %>
    <% end %>

    <title>Hello Phoenix!</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container" role="main">
      <div class="header clearfix">
        <ul class="nav nav-pills pull-right">
          <%= if Guardian.Plug.current_resource(@conn) do %>
            <li><%= link(Guardian.Plug.current_resource(@conn).email, to: user_path(@conn, :edit, Guardian.Plug.current_resource(@conn))) %></li>
            <li><%= link("Logout", to: session_path(@conn, :delete)) %></li>
          <% else %>
            <li><%= link("Signup", to: user_path(@conn, :new)) %></li>
            <li><%= link("Login", to: session_path(@conn, :new)) %></li>
          <% end %>
        </ul>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
